@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
h1 {
    color: white;
    display: block;
    font-size: 40vh;
    font-weight: bold;
    text-align: center;
    margin: 0;
    font-family: "Lobster Two";
    line-height: 1.1;
    padding-top: 5vh
}



@keyframes Gradient { 
    0% {background-position:0% 50%}
    50% {background-position:100% 50%}
    100% {background-position:0% 50%}
}
    
.mainHeader {
    background: linear-gradient(90deg, #74b3ed, #a9a1dc, #e9c7f2);
	background-size: 200% 200%;
    animation: Gradient 7s ease infinite;
    text-align: center;
    height: 100vh;
    
    
}

.topnav {
    position: fixed;
    top: 0px ;
    width: 100%;
    background-color: rgba(118, 160, 236, 100)
    
}

/* Style the links inside the navigation bar */
.topnav a {
  
    display: inline-block;
    color: #f2f2f2;
    padding: 14px; /*This make the nav bar thicker*/
    text-decoration: none; 
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    
   
    
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #E9C3E7;
    color: #000000;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #C3B0EE;
    color: white;
}


body{
    color: rgb(86, 79, 109);
    display: block;
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
   


}

p{





}
section{

    padding-top: 55px;
    margin: 0 auto;
    width: 650px


}