h1 {
    color: white;
    display: block;
    font-size: 20em;
    -webkit-margin-before: -.15em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
   text-align: center

}
body{ background-color: aliceblue,}
body {
    background: linear-gradient(to left top, #FFD2ED, #DF82CB) fixed;
  }
  