@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
h1 {
    color: white;
    display: block;
    font-size: 15em;
    font-weight: bold;
    text-align: center;
    margin: 0;
    font-family: "Lobster Two";
}

body {
    margin: 0;
    
}

@keyframes Gradient { 
    0% {background-position:0% 50%}
    50% {background-position:100% 50%}
    100% {background-position:0% 50%}
}
    
.mainHeader {
    background: linear-gradient(90deg, #74b3ed, #a9a1dc, #e9c7f2);
	background-size: 200% 200%;
    animation: Gradient 10s ease infinite;
    text-align: center;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: rgba(97, 149, 252, 0.65);
    display: inline-block;
    text-align: center;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #E9C3E7;
    color: #000000;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #C3B0EE;
    color: white;
}
ul {
    position: fixed;
    bottom: 0;
    width: 100%;
}

